<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="CadenaConexion"
			 connectionString="Data Source=INF02\SQLEXPRESS;
			 Initial Catalog=GestionHospitalariaDB;
			 Integrated Security=True;
			 Encrypt=False"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>

</configuration>